.containerTitulo{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    cursor: pointer;
}

.btn-blue {
    background-color: #3498db;
    color: #fff;
}

.btn-green {
    background-color: #2ecc71;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
}


/* Parte da Tabela*/

/* Estilização das células da tabela */
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Estilização do cabeçalho da tabela */
th {
    background-color: #f2f2f2;
}

/* Estilização do container da tabela */
.table-container {
    width: 80%;
}

/* Estilização da tabela */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Estilização das células da tabela */
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Estilização do cabeçalho da tabela */
th {
    background-color: #f2f2f2;
}

/* Estilização dos botões de ação */
.edit-btn, .delete-btn {
    padding: 6px 12px;
    margin-right: 5px;
    cursor: pointer;
}

/* Estilização dos botões de ação (editar e excluir) */
.edit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
}